body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color:#000000;
    text-align: center;
    gap: 12rem;
    color: #fff;
}


.header-sec1 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.icon-trofeu{
    background-color: #dc2626;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
}

.header-sec1 > div>h1 {
    font-size: 1.2rem;
    padding: 0;
}

.header-sec1 > div > p {
    font-size: 0.8rem;
    text-wrap: nowrap;
    color: #9ca3af;
    line-height: 0.5rem;
}


.header-sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.header-sec2 > li{
    border: 1px solid #000;
    border-radius: 0.8rem;
    padding: 0.1rem 1.2rem;
    list-style-type: none;
} 

.header-sec2 >li >a{
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.5rem;
    color: #9ca3af; 
}

.header-sec2 > li:hover {
    background-color: #2c2c2c;
}

.header-sec2 > li:hover > a {
    color: #fff;
}

.header-sec2 >li >a {
    display: flex;
    align-items: end;
    font-size: 0.95rem;
    gap: 0.5rem;
}

.header-sec2 > li > a > svg {
    width: 1.2rem;
}



@media (max-width:780px) {
    html{
        margin: 0;
        padding: 0;
        overflow-x: none; 
        /* para eliminar barra lateral de tabletes e celular */
    }

    header{
        gap: 5rem;
    }
    
    .header-sec2 > li > a> span{
        display: none;
    }

    .header-sec2 {
    gap: 0.1rem;
}

.header-sec2 > li{
    padding: 0.1rem ;
} 
}


/* footer */

footer{
    background-color: #000;
    text-align: center;
    padding: 2rem;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 0.5rem;
}

footer> div> h3 {
  font-size: 1.2rem;
}

footer >hr {
  background-color:  #1f2937;
  border: none;     
  height: 2px; 
  width: 80%;      
}

footer > span {
    display: block;
    text-wrap: nowrap;
    font-size: 0.9rem;
    color:#9ca3af;
    margin: 2rem auto;
}

footer > span:nth-child(4) {
    color: #6b7280;
   font-size: 0.81rem;
   text-wrap: wrap;
}